[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/e-Paper/RaspberryPi_JetsonNano/python/examples/main.py
WorkingDirectory=/home/pi/e-Paper/RaspberryPi_JetsonNano/python/examples/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
